:root {
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Karla", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: var(--lightGray);
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  align-items: end;
  justify-content: center;
}
.grid--container {
  display: grid;
  max-width: 64rem;
  margin: 6rem 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 1.5rem 1rem #00000010;
}
.grid--item {
  padding: 3rem;
}
.grid--item:first-child {
  background-color: var(--white);
}
.grid--item:nth-child(2) {
  background-color: var(--cyan);
  color: var(--white);
}
.grid--item:last-child {
  background-color: var(--cyan);
  color: var(--white);
  opacity: 0.8;
}

.join--community h1 {
  color: var(--cyan);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1em;
}
.join--community p {
  color: var(--grayishBlue);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
}
.join--community p:first-of-type {
  color: var(--brightYellow);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.subscription p {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2em;
}
.subscription p:first-of-type {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.subscription p:first-of-type::after {
  content: "per month";
  color: var(--lightGray);
  font-weight: 400;
  font-size: 1.4rem;
}
.sign--up {
  color: var(--white);
  background-color: var(--brightYellow);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  padding: 1em;
  border-radius: 0.5rem;
  border: transparent;
  outline: transparent;
  transition: all 0.3s ease;
}
.sign--up:is(:hover, :focus) {
  cursor: pointer;
  transform: translate(0, -0.2rem);
  box-shadow: 0 0.5rem 1rem #00000010;
}

li {
  color: var(--lightGray);
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  list-style: none;
}
.attribution {
  color: var(--cyan);
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a:is(:link, :visited) {
  font-weight: 700;
  text-decoration: none;
  color: var(--brightYellow);
}
.attribution a:is(:hover, :active) {
  font-weight: 700;
  text-decoration: underline;
  color: var(--brightYellow);
}

@media screen and (min-width: 665px) {
  .grid--container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--item {
    padding: 4rem;
  }
  .grid--item:first-child {
    padding-right: 5rem;
    grid-column: 1/3;
  }
  .join--community p {
    font-size: 1.6rem;
  }
  .grid--item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid--item:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
